{
  "env": {
      "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-cond-assign": [2,"always"],
    "no-console": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": [1,"all"],
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-irregular-whitespace": 1,
    "no-sparse-arrays": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-labels": 2,
    "no-octal": 2,
    "no-redeclare": 2,
    "no-script-url": 2,
    "no-warning-comments": [1,{"terms":["TODO","FIXME"],"location":"anywhere"}],
    "wrap-iife": [2,"any"],
    "strict": [2,"never"],
    "no-delete-var": 2,
    "callback-return": 2,
    "no-path-concat": 2,
    "brace-style": [2,"stroustrup",{"allowSingleLine":true}],
    "comma-spacing": [2,{"after":true}],
    "eol-last": 2,
    "id-length": [2,{"min":2,"max":24,"exceptions":["i","x"]}],
    "indent": [2,4],
    "no-underscore-dangle": 2,
    "object-curly-spacing": [2,"always",{"arraysInObjects":true,"objectsInObjects":true}],
    "one-var": 1,
    "quotes": [2,"single","avoid-escape"],
    "semi": [2,"always"],
    "space-before-blocks": [2,"always"],
    "arrow-parens": [2,"always"],
    "no-var": 1
  }
}
