#
# NodeJS
#
node_modules

#
# Build, testing, and coverage
#
coverage/
.nyc_output/
test/.output
dist

#
# TypeScript
#
**/*d.ts
**/*d.ts.map
**/*js.map
**/*.js
.tsbuildinfo


#
# VisualStudioCode
#
.vscode
.history

#
# macOS 
#
.DS_Store
.AppleDouble
.LSOverride