#
# NodeJS
#
node_modules
examples/jsonToWar/output/war3*
examples/warToJson/files/output/*.json
examples/warToJson/files/output/object/*.json
examples/warToJson/files/output/other/*.json

#
# Build, testing, and coverage
#
coverage/
.nyc_output/
test/.output
**/*d.ts
**/*d.ts.map
**/*js.map


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history