#
# NodeJS
#
node_modules
examples/jsonToWar/output/war3*
examples/warToJson/files/output/*.json
examples/warToJson/files/output/object/*.json
examples/warToJson/files/output/other/*.json

#
# Build, testing, and coverage
#
coverage/
.nyc_output/
test/.output

#
# TypeScript
#
**/*d.ts
**/*d.ts.map
**/*js.map
**/*.js
.tsbuildinfo


#
# VisualStudioCode
#
.vscode
.history

#
# macOS 
#
.DS_Store
.AppleDouble
.LSOverride