{
    "extends": "@istanbuljs/nyc-config-typescript",
    "check-coverage": true,
    "per-file": true,
    "extension": [
      ".ts",
      ".tsx"
    ],
    "exclude": [
      "**/*.d.ts",
      "**/coverage/**"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "all": true
}
